* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.container {
  padding: 20px;
  color: black;
  max-width: 100%;
  word-wrap: break-word
}

.container__grey {
  margin: 0 20px;
  border-radius: 15px;
  background-color: rgb(240, 244, 244);
}

.container__grey--gradient {
  background: linear-gradient(to bottom, transparent, rgb(240, 244, 244));
  padding-bottom: 60px;
}

.container__blue {
  background-color: #3E53A3;
  color: white;
  padding: 20px;
}