.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 30%;
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form input {
    padding: 10px;
    width: 100%;
    max-width: 80%;
}

.form a {
    color: #0000EE;
    text-decoration: underline;
}

input[type="checkbox"] {
    width: auto;
}

.input-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 80%;
}

form button {
    max-width: 45%;
    width: 100%
}