.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  /* Space items evenly on one line */
  width: 100%;
  margin: 0;
  padding: 0;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /* Vertically align the logo */
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo img {
  height: 28px;
  width: auto;
  max-width: 100%;
  padding: 0;
  display: block;
}

li {
  color: #333;
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 22.483px;
  text-transform: uppercase;
}