@import "./assets/fonts.css";
@import "tailwindcss";
@import "./assets/theme.css";


@layer utilities {
    .hover {
        text-decoration: none;
        position: relative;
    }

    .hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        @apply bg-blue-800;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .hover:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}