.button {
    display: flex;
    padding: 16px;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    font-size: 11.5px;
    gap: 10px;
}

.button__primary {
    background-color: black;
    color: white;
}

.button__secondary {
    background-color: rgb(211, 18, 47);
    color: white;
}