.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    gap: 10px;
    padding: 16px;
}

.button__primary {
    background-color: black;
    color: white;
    padding: 15px 30px;
}

.button__secondary {
    background-color: rgb(211, 18, 47);
    color: white;
    padding: 15px 30px;
}

.button__arrow {
    padding: 20px;
    border-radius: 50%;
    background-color: #3E53A3;
    color: white;
}

.button__arrow--grey {
    background-color: rgb(115, 115, 115);
}