header {
  display: flex;
  padding: 30px 10%;
}

.navigation {
  /* Take up full screen width - allows items to take space across screen by deleting unallocated space */
  width: 100%;
}

.navigation__list {
  /* Flexbox on full list to place and center on one line */
  display: flex;
  list-style-type: none;
  /* Centers left side with right side list items */
  align-items: center;
}

.header__right {
  display: flex;
  /* Centers right side list items in their own container */
  align-items: center;
  margin-left: auto;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 28px;
  width: 196px;
}

li {
  color: #333;
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 22.483244px;
  text-transform: uppercase;
}