.section {
  padding: 60px 0px;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgb(240, 244, 244);
  border-radius: 50%;
  font-size: 2em;
}

.background-grey {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background-color: rgb(240, 244, 244);
}

.background-grey--gradient {
  margin-left: 20px;
  margin-right: 20px;
  background: linear-gradient(to bottom, transparent, rgb(240, 244, 244));
  border-radius: 15px;
  padding-bottom: 60px;
}

.number-list {
  background-color: rgb(106, 190, 205);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}