.container {
  /* Flexbox layout for child containers to enable side by side format and centering */
  display: flex;
  /* Center on web page */
  justify-content: center;
  /* Gap between the containers */
  gap: 20px;
}

.content {
  /* Space inside the content */
  padding-bottom: 20px;
  border-radius: 8px;
  /* Flexbox layout to create flex items for spacing */
  display: flex;
  /* Stack in columns */
  flex-direction: column;
  /* Space between flex items */
  gap: 20px;
  position: relative;
}

/* CSS pseudo element selector */
.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://res.cloudinary.com/dz209s6jk/image/upload/v1709046170/DesignSystem/bg-premium-intro-1.svg");
  background-size: cover;
  background-position: center 20%;
  /* Lighten only the background image */
  filter: brightness(1.2);
  /* Ensure the background image sits behind the content */
  z-index: -1;
}

.content h2 {
  color: rgb(62, 84, 163);
  font-size: 30px;
  font-weight: 300;
  font-family: '__Barlow_f46a1f, __Barlow_Fallback_f46a1f';
}

.content p {
  color: rgb(115, 115, 115)
}

.image-container {
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://res.cloudinary.com/dz209s6jk/image/upload/v1709046172/DesignSystem/bg-premium-intro-2.svg");
  background-size: cover;
  background-position: center 27%;
  filter: brightness(1.2);
  /* Lighten only the background image */
  z-index: -1;
  /* Ensure the background image sits behind the content */
}

.image-container img {
  width: 500px;
  /* Image fills the container */
  height: 400px;
  /* Maintain aspect ratio */
  max-height: 500px;
  /* Limit the height of the image to avoid it becoming too large */
  border-radius: 8px;
}

.cta-button-red {
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: rgb(211, 18, 47);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  height: 37px;
  text-transform: uppercase;
  align-items: center;
  font-size: 11.5px;
}


.cta-button-red img {
  width: 25px;
  height: 20px;
  border-radius: 10px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.border-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.border-container img {
  height: 67px;
  width: 150px;
}

.border-container p {
  color: rgb(28, 32, 34);
}

.blue-text {
  color: rgb(62, 84, 163);
}